*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;

}
#box{
    display: flex;
    justify-content: center;
    border: 2px solid;
    padding: 4rem 2rem;
    border-radius:15px;
    background-color: aliceblue;
}
.input{
    text-align: center;
}
.input h2{
    padding-bottom: 1.5rem;
}
.input input{
    padding: 0.5rem;
    border-radius: 5px;
    font-size: large;
}

.input button{
    padding: 0.5rem;
    border-radius: 5px;
    font-size: large;
}

a{
    padding:10px ;
    border-radius: 50%;
    background-color: rgb(165, 126, 79);
    color: black;
    margin:  5px;

    
    

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}